/* General */

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
}

a{
  color: white;
  text-decoration: none;
}

html {
  font-family: "Open Sans", sans-serif;
  background-color: #F9F9FB;
}

.whiteBackground {
  background-color: white;
}

.purpleBackground {
  background-color: #8A2BE2;
}

.whiteSvg {
  filter: invert(100%) sepia(100%) saturate(0%) brightness(100%) contrast(100%);
}

.blackFont {
  color:black
}

/* Navbar */

header {
  background-color: #8A2BE2;
  padding: 5px 5% 0 5%;
}

.links{
  list-style: none;
}

.links li {
  display: inline-block;
  padding: 0 20px;
}

.links li a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.logo {
  width: 250px;
  margin: 5px;
}

/* Contenido */

/* Index */

.bannerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 30px 0; */
}

.bannerArticle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 20px;
  margin-top: 80px;
  max-width: 800px;
}

.bannerTitle {
  font-size: 48px;
  font-weight: bold;
  margin: 0 0 10px;
  text-align: center;
}

.bannerText {
  font-size: 32px;
  margin: 10px 0 30px;
  text-align: center;
}

.bannerButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.bannerButton {
  background-color: white;
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  margin: 10px 30px;
  height: 55px;
  width: 200px;
  font-weight: bold;
}

.imgBannerIndex {
  width: 280px;
  margin: 30px 0;
}

.cardsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cardsArticleCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  margin: 50px 30px;
  box-shadow: -1px 2px 4px 1px #CECECE;
  background-color: white;
}

.imgClient {
  vertical-align: middle;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 0 0 15px;
}

.cardText {
  font-size: 25px;
  margin: 15px;
}

.cardFooter {
  font-size: 16px;
  font-weight: lighter;
}

.textSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:30px 0 90px;
}

.textSectionTitle {
  font-size: 30px;
  max-width: 50%;
  text-align: center;
  font-weight: lighter;
  margin: 20px;
}

.textSectionText {
  margin: 20px 10%;
  font-size: 18px;
  font-weight: lighter;
}

/* Contacto */

.contactSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  border: 1px solid black;
  border-radius: 15px;
  width: 400px;
  height: 380px;
  margin: 20px 10px;
}

.formLabel {
  font-size: 24px;
  margin: 5px 0;
}

.formInput{
  height: 32px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid black;
  text-indent: 5px;
  font-size: 16px;
}

.formInput:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #8A2BE2;
}

.formTextarea {
  width: 100%;
  height: 80px;
  resize: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  text-indent: 5px;
  margin: 10px 0 30px;
}

.formTextarea:focus {
  outline: none;
  border: 1px solid #8A2BE2;
}

.formButton {
  align-self: center;
  font-size: 20px;
  color: white;
  padding: 10px 20px;
  background-color: #8A2BE2;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  margin: 20px 0;
  width: 380px;
  height: 380px;

  border: 1px solid black;
  border-radius: 15px;
}

.contactInfoTitle {
  align-self: center;
  font-size: 24px;
  font-weight: 700;
}

.contactInfoRow {
  display: flex;
  align-items: center;
}

.contactInfoRow p {
  margin-left: 10px;
  font-size: 16px;
}

.mapSection {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iframe {
  width: 400px;
  height: 300px;
  border: 0;
}


/* Producto */

.productImage {
  width: 350px;
  margin-top: 20px;
}

.noPaddingBottom {
  padding-bottom: 0;
}

.productDownload {
  height:70px;
  margin: 15px;
}

/* Blog */
.blogSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:20px 10%;
}

.blogTitle {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blogDescription {
  font-size: 24px;
  font-weight: lighter;
  margin: 10px 0;
}

.blogArticle {
  border-top: 1px solid black;
  margin: 20px 0;
}

.blogArticle p {
  margin: 10px 0;
}

h3 {
  font-size: 24px;
  margin: 10px 0;
}
/* Pie de pagina */

footer {
  background-color: blueviolet;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 15px 0;
}
.footerLinks li{
  margin: 5px 0;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.newsletter {
  font-size: 20px;
}

.newsletter p{
  margin-bottom: 10px;
}

.newsletter input {
  height: 30px;
  width: 200px;
  text-indent: 10px;
  border: none;
  background-color: white;
}

.newsletter input:focus{
  outline: none;
}

.newsletter button {
  height: 30px;
  background-color: white;
  border: 1px;
  padding: 0 15px;
}

.downloadApp {
  height: 40px;
}

.downloads article p {
  font-size: 20px;
  margin: 15px 0;
  font-weight: 400;
}

.icon {
  width: 25px;
  height: 25px;
  margin: 10px;
}

.reverseWrap {
  flex-wrap: wrap-reverse;
}

@media screen and (min-width: 0px) and (max-width: 380px){
  header {
    padding: 0;
    flex-direction: column ;
  }

  .logo {
    margin: 0;
  }

  .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .links li {
    margin-bottom: 5px;
  }

  .cardsArticleCard {
    margin: 40px 10px 20px;
  }

  .imgSobreNosotros {
    width: 380px;
  }

  .blogTitle {
    font-size: 50px;
  }

  .contactForm {
    width: 280px;
  }

  .contactInfo {
    width: 280px;
  }

  .iframe {
    width: 360px;
  }
}