/* General */

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
}

a{
  color: white;
  text-decoration: none;
}

html {
  font-family: "Open Sans", sans-serif;
  background-color: #F9F9FB;
}

.whiteBackground {
  background-color: white;
}

.purpleBackground {
  background-color: #8A2BE2;
}

.whiteSvg {
  filter: invert(100%) sepia(100%) saturate(0%) brightness(100%) contrast(100%);
}

.blackFont {
  color:black
}

/* Navbar */

header {
  background-color: #8A2BE2;
  padding: 5px 5% 0 5%;
}

.links{
  list-style: none;
}

.links li {
  display: inline-block;
  padding: 0 20px;
}

.links li a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.logo {
  width: 250px;
  margin: 5px;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
}

/* Contenido */

/* Index */

.bannerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.bannerArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 20px;
  margin-top: 80px;
}

.bannerTitle {
  font-size: 48px;
  font-weight: bold;
  margin: 0 0 10px;
  text-align: center;
}

.bannerText {
  font-size: 32px;
  margin: 10px 0 30px;
  text-align: center;
}

.bannerButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.bannerButton {
  background-color: white;
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  margin: 10px 30px;
  height: 55px;
  width: 200px;
  font-weight: bold;
}

.imgBannerIndex {
  width: 280px;
  margin: 30px 0;
}

.card {
  align-items: center;
  justify-content: center;
  max-width: 300px;
  margin: 40px auto 0;
  padding: 15px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 0;
}

.card-body{
  text-align: center;
}

.card-text{
  font-size: 20px;
}

.imgClient {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.textSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:30px 0 90px;
}

.textSectionTitle {
  font-size: 30px;
  max-width: 50%;
  text-align: center;
  font-weight: lighter;
  margin: 20px;
}

.textSectionText {
  margin: 20px 10%;
  font-size: 18px;
  font-weight: lighter;
}

/* Contacto */

.contactForm {
  border: 1px solid black;
  border-radius: 15px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid black;
  border-radius: 15px;
  height: 465px;
}

.contactInfoTitle {
  align-self: center;
  font-size: 24px;
  font-weight: 700;
}

.contactInfoRow {
  display: flex;
  align-items: center;
}

.contactInfoRow p {
  margin-left: 10px;
  font-size: 16px;
}

.iframe {
  width: 400px;
  height: 300px;
  border: 0;
}


/* Producto */

.productImage {
  max-width: 350px;
  margin-top: 20px;
}

.noPaddingBottom {
  padding-bottom: 0;
}

.productDownload {
  height:70px;
  margin: 15px;
}

/* Blog */
.blogSection{
  margin:20px 10%;
}

.blogTitle {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blogDescription {
  font-size: 24px;
  font-weight: lighter;
  margin: 10px 0;
}

.blogArticle {
  border-top: 1px solid black;
  margin: 20px 0;
}

.blogArticle p {
  margin: 10px 0;
}

h3 {
  font-size: 24px;
  margin: 10px 0;
}
/* Pie de pagina */

footer {
  background-color: blueviolet;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 15px 0;
}
.footerLinks li{
  margin: 5px 0;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.newsletter {
  font-size: 20px;
}

.newsletter p{
  margin-bottom: 10px;
}

.newsletter input {
  height: 30px;
  width: 200px;
  text-indent: 10px;
  border: none;
  background-color: white;
}

.newsletter input:focus{
  outline: none;
}

.newsletter button {
  height: 31px;
  background-color: white;
  padding: 0 5px;
  border: 1px solid black;
  margin-left: 3px;
  border-radius: 3px;
}

.downloadApp {
  height: 40px;
}

.downloads article p {
  font-size: 20px;
  margin: 15px 0;
  font-weight: 400;
}

.icon {
  width: 25px;
  height: 25px;
  margin: 10px;
}

.reverseWrap {
  flex-wrap: wrap-reverse;
}

.alert{
  margin-bottom: 0;
}

@media screen and (min-width: 0px) and (max-width: 576px){
  header {
    padding: 0;
    flex-direction: column ;
  }

  .logo {
    margin: 0;
  }

  .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .links li {
    margin-bottom: 5px;
  }

  .cardsArticleCard {
    margin: 40px 10px 20px;
  }

  .imgSobreNosotros {
    width: 100%;
  }

  .blogTitle {
    font-size: 50px;
  }

  .iframe {
    width: 360px;
  }
}