
.container404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
    min-height: 80vh;

    h2 {
        font-size: 2.7rem;
        margin: 15px 5px;
    }

    p {
        margin: 15px 5px 30px 5px;
        font-size: 1.2rem;
    }
}

.titulo404{
    width: 100%;
    height: 100%;
    font-size: 100px;
    font-weight:bolder;
    mix-blend-mode: screen;
}

.marginButton404 {
    margin: 0 0 50px;
}