
header {
    background-color: #8A2BE2;
    padding: 5px 5% 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.links {
    list-style: none;
    li {
        display: inline-block;
        padding: 0 20px;
        a {
            font-size: 1rem;
            color: white;
            text-decoration: none;
        }
    }
}

.logo {
    width: 250px;
    margin: 5px;
}