.imgClient {
    vertical-align: middle;
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.imgBannerIndex {
    width: 280px;
    margin: 30px 0;
}

.productImage {
    width: 350px;
    margin-top: 20px;
}

.productDownload {
    height:70px;
    margin: 15px;
}

.imgSobreNosotros {
    width: 100%;
    max-width: 600px;
}

.img404{
    width: 100%;
    max-width: 500px;
    margin: 10px;
}