
@media screen and (min-width: 0px) and (max-width: 400px){
    .cardsArticleCard {
        margin: 40px 10px 20px;
    }

    .imgSobreNosotros {
        width: 380px;
    }

    .contactForm {
        width: 280px;
    }

    .contactInfo {
        width: 280px;
    }

    .iframe {
        width: 360px;
    }
}