
@media screen and (min-width: 0px) and (max-width: 400px){
    .cardsArticleCard {
        margin: 40px 30px 20px;
    }

    .imgSobreNosotros {
        width: 350px;
    }

    .contactForm {
        width: 300px;
    }

    .contactInfo {
        width: 300px;
    }

    .iframe {
        width: 360px;
    }

    .blogTitle {
        font-size: 3.6rem;
    }

    header {
        padding: 0;
    }
}

@media screen and (min-width: 0px) and (max-width: 550px){
    .contactForm {
        width: 330px;
        height: 450px;
    }

    .contactInfo {
        width: 330px;
        height: 450px;
    }
}