.bannerSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bannerArticle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 800px;
}

.bannerTitle {
    font-size: 2.6rem;
    font-weight: bold;
    margin: 0 15px 10px;
    text-align: center;
}

.bannerText {
    font-size: 1.8rem;
    margin: 10px 15px 30px;
    text-align: center;
}

.bannerButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.bannerButtonPrimary {
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2rem;
    height: 55px;
    width: 200px;
    font-weight: bold;
    transition: all 0.3s ease 0s;

    &:hover {
        background-color: white;
        color: black;
        transform: translateY(-2px);
    }
}

.bannerButtonSecondary {
    background-color: #8A2BE2;
    color: white;
    border: solid 3px white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2rem;
    height: 55px;
    width: 200px;
    font-weight: bold;
    transition: all 0.3s ease 0s;

    &:hover {
        background-color: white;
        color: black;
        transform: translateY(-2px);
    }
}