.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    margin: 20px 0;
    width: 500px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    margin: 10px;
}

.contactInfoTitle {
    align-self: center;
    font-size: 1.6rem;
    font-weight: 700;
}

.contactInfoRow {
    display: flex;
    align-items: center;
    width: 100%;
    p {
        margin-left: 10px;
        font-size: 1rem;
    }
}