.formSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    width: 500px;
    height: 500px;
    margin: 20px 10px;
}

.formLabel {
    font-size: 1.2rem;
    margin: 5px 0;
}

.formInput{
    height: 32px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
    text-indent: 5px;
    font-size: 1rem;
    &:focus{
        outline: none;
        border: none;
        border-bottom: 1px solid #8A2BE2;
    }
}

.formTextarea {
    width: 100%;
    resize: none;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    padding: 2px;
    margin: 10px 0 30px;
    transition: all 0.3s ease 0s;
    border: 1px solid black;
    &:focus {
        outline: none;
        border: 1px solid #8A2BE2;
    }
}

.formButton {
    align-self: center;
    font-size: 1.25rem;
    color: white;
    padding: 10px 25px;
    background-color: #8A2BE2;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    &:hover{
        color: white;
        background-color: rgb(0, 0, 0);
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.651);
        transform: translateY(-2px);
    }
}